body {
    background-color: rgb(192, 247, 211);
}


ul {
    list-style-type: none;
    overflow: hidden;
    background-color: rgb(0, 96, 11);
    position: relative;
    top: 0;
    width: 100%;
    padding-left: 100px;

}

li {
    float: left;

}

li a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 20px
}

li a:hover {
    background-color: rgba(14, 80, 34, 0.58);
}


h1 {
    font-family: "open sans";
    text-align: center;
    font-size: 3em;
    font-weight: bold;
}

h2 {
    font-family: "open sans";
    font-size: 2em;
    font-weight: bold;
}

h3 {
    font-family: "open sans";
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;

}

p {
    font-family: "open sans";
    font-size: 1em;
    font-weight: lighter
}


body {
    padding: 0;
    margin: 0;
}

#scene {
    position: relative;
    width: 100vw;
    height: 52vw;
    overflow: hidden;

}

#baggrund {
    width: 100vw;
    height: 52vw;
    background-image: url(Baggrund.png);
    background-size: 100%;
    position: absolute;
    bottom: 0vw;
    z-index: 1;
}


#mellemgrund {
    width: 100vw;
    height: 52vw;
    background-image: url(mellemgrund.png);
    background-size: 100%;
    position: absolute;
    bottom: 0vw;
    z-index: 2;

}

#forgrund {
    width: 100vw;
    height: 52vw;
    background-image: url(Forgrund.png);
    background-size: 100%;
    position: absolute;
    bottom: 0vw;
    z-index: 10;

}

#skyer {
    width: 100vw;
    height: 52vw;
    background-image: url(skyer.png);
    background-size: 100%;
    position: absolute;
    bottom: 0vw;
    z-index: 1;
    animation-name: skyer;
    animation-duration: 60s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

#sten {
    width: 20vw;
    height: 11.24vw;
    background-image: url(billeder/sten.svg);
    background-size: 100%;
    position: absolute;
    z-index: 8;
    bottom: 9.5vw;
    left: 25vw;
}

#sten_2 {
    width: 20vw;
    height: 11.24vw;
    background-image: url(billeder/sten_2.svg);
    background-size: 100%;
    position: absolute;
    z-index: 8;
    bottom: 14vw;
    left: 30vw;

}


#sten_3 {
    width: 20vw;
    height: 11.24vw;
    background-image: url(billeder/sten_2.svg);
    background-size: 100%;
    position: absolute;
    z-index: 8;
    bottom: 12vw;
    left: 60vw;

}

#sten_4 {
    width: 20vw;
    height: 11.24vw;
    background-image: url(billeder/sten_2.svg);
    background-size: 100%;
    position: absolute;
    z-index: 8;
    bottom: 12vw;
    left: 80vw;

}

#sten_5 {
    width: 20vw;
    height: 11.24vw;
    background-image: url(billeder/sten_5.svg);
    background-size: 100%;
    position: absolute;
    z-index: 8;
    bottom: 14.3vw;
    left: 33.5vw;

}


#traestamme {
    width: 20vw;
    height: 11.24vw;
    background-image: url(billeder/tr%C3%A6stamme.svg);
    background-size: 100%;
    position: absolute;
    z-index: 8;
    bottom: 14.5vw;
    left: 37vw;
    transform: scale(2.5);

}


@keyframes skyer {
    from {}
    to {
        transform: translateX(30vw);

    }
}

/**************************LYDE**************************/

/********************* Viser figurer ***********************/

#man_container {
    position: absolute;
    z-index: 9;
    transform: scale(0.5);
    top: 18vw;

}

.man_move_right {
    animation-name: man_move_right_kf;
    animation-duration: 10s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes man_move_right_kf {
    from {
        left: 0;
    }
    to {
        left: 37vw;
    }
}


#man_sprite {
    background-image: url(Artboard%201.svg);
    background-size: 800% 600%;
    width: 20.5vw;
    height: 28vw;
}

.man_walk {
    animation-name: man_walk_kf;
    animation-duration: 10s;
    animation-iteration-count: 1;
    animation-timing-function: steps(8);
    animation-fill-mode: forwards;

}

@keyframes man_walk_kf {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: -800% 0%;
    }
}



.man_position_in {
    left: 37vw;
}


.man_sit_down {
    animation-name: man_sit_down_kf;
    animation-duration: 8s;
    animation-iteration-count: 1;
    transition-timing-function: steps(1);
    animation-fill-mode: forwards;
}



@keyframes man_sit_down_kf {
    /*
    0% {
        background-position: -0% -100%;
    }
    100% {
        background-position: -300% -100%;
    }
*/
    background-position: -200% -100%;
}

/*
.man_stand {
    background-position: -400% -100%;
}
*/

.man_turn {
    animation-name: man_turn_kf;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: steps(3);
    /*    animation-fill-mode: forwards;*/
}

@keyframes man_turn_kf {
    0% {
        background-position: 0% -200%;
    }
    100% {
        background-position: -300% -200%;
    }
}

.man_samler_op {
    animation-name: man_samlerOp_kf;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-timing-function: steps(4);
}

@keyframes man_samlerOp_kf {
    0% {
        background-position: -0% -500%;
    }
    100% {
        background-position: -400% -500%;
    }
}

.samler_sten {
    animation-name: samler_sten_kf;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-timing-function: steps(4);
}

@keyframes samler_sten_kf {
    0% {
        background-position: 0% -500%;
    }
    100% {
        background-position: -400% -500%;
    }
}

.kasterSten {
    animation-name: kaster_sten_kf;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-timing-function: steps(4);
}

@keyframes kaster_sten_kf {
    0% {
        background-position: 0% -600%;
    }
    100% {
        background-position: -400% -600%;
    }
}

.man_run_right {
    animation-name: man_run_right_kf;
    animation-duration: 6s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

}

@keyframes man_run_right_kf {
    from {
        left: 37vw;
    }
    to {
        right: 50vw;
    }
}

.man_run {
    animation-name: man_run_kf;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-timing-function: steps(5);
}

@keyframes man_run_kf {
    0% {
        background-position: -0% -400%;
    }
    100% {
        background-position: -500% -400%;
    }
}

.bliverFanget {}


/***bjørnen***/

#bear_container {
    position: absolute;
    transform: scale(0.8);
    z-index: 9;
    top: 15vw;
    left: -10vw;
}

#bear_sprite {
    background-image: url(bjorne_spritesheet.svg);
    background-size: 700% 200%;
    width: 20vw;
    height: 27vw;

}

.bear_move_right {
    animation-name: bear_move_right_kf;
    animation-duration: 7s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 2s;
}

@keyframes bear_move_right_kf {
    from {
        left: -20vw;
    }
    to {
        left: 20vw;
    }
}


.bear_walk {
    animation-name: bear_walk_kf;
    animation-duration: 7s;
    animation-iteration-count: 1;
    animation-timing-function: steps(6);
    animation-fill-mode: forwards;
    animation-delay: 2s;
}

@keyframes bear_walk_kf {
    from {
        background-position: 0% 0%;
    }
    to {
        background-position: -600% 0%;
    }
}

.puls {
    animation: puls_kf 0.5s infinite alternate linear;
}

@keyframes puls_kf {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.8);
    }
}
